body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: silver;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 16px;
}

h1 { 
    text-align: center;
    background-color: white;
}

.position {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
    width: auto;    
}

#hmbttn {
    background-color: gold;
    font-weight: 800;
    margin: 0 auto;
    display: block;

    
}
